* {
  margin: 0;
  padding: 0;
}
body {
  background-color: cornflowerblue;
}
#particles-js {
  height: 900px;
}
#main {
  background: #fff;
  opacity: 0.4;
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: xx-large;
}
h1 {
  color: #1157f0;
  position: relative;
  top: 40%;
  left: 2%;
}
#list {
  color: #fff;
  position: relative;
  top: 80%;
  padding: 2rem;
}
